iframe {
    border: 1px solid black;
    margin: 10px;
}

div {
    margin: 10px;
}

span {
    background-color: rgb(216, 216, 216);
    margin: 0 5px;
    padding: 5px;
}

input {
    padding: 10px;
    width: 50%;
    outline:none;
}

#get-button {
    margin: 10px;
    margin-left: auto;
    padding: 10px;
}
